<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="~/css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="~/css/styles.css" type="text/css">
    <title>Word Counter</title>
  </head>
  <body>
    <div class="container body-div">
      @Html.Partial("Header")
      @RenderBody()
      <br>
      @Html.Partial("Footer")
    </div>
  </body>
</html>
