@{
  Layout = "_Layout";
}

<div class="container">
  <div class="row" id="instructions">
    <div class="col-md-6">
      <p>Enter a search word and a string of text, and the program will return the number of instances that the word occurs within the string.</p>
      <p>Only standard alphabetic characters are valid.</p>
    </div>
  </div>
  <!-- End of instructions -->

  <!-- Main content div -->
  <div class="row">
    <!-- Form div -->
    <div class="col-md-3">
      <form class="form-group" action="/" method="post">
        <label for="word">Enter a word:</label>
        <input class="form-control" type="text" name="word" placeholder=">>">
        <br>
        <label for="sentence">Enter a sentence:</label>
        <input class="form-control" type="text" name="sentence" placeholder=">>">
        <br>
        <button type="submit" name="button">Submit</button>
      </form>
    </div>
    <!-- End of form -->

    <!-- Results div -->
    <div class="col-md-3" id="results">
      @if(Model != null)
        {
          <p>The word <strong>"@Model.GetWord()"</strong> occurs <strong>@Model.GetOccurrenceValue()</strong> times in the string:</p>
          <p><strong>"@Model.GetString()"</strong></p>
        } else {
          <h3>Please enter values into the spaces provided.</h3>
        }
    </div>
    <!-- End of results -->

  </div>
  <!-- End of main div -->

  <!-- Home button -->
  <div class="row">
    <div class="col-md-3">
      <form class="form-group" action="/" method="get">
        <button id="goToHome" type="submit" name="button">Reset form</button>
      </form>
    </div>
  </div>
  <!-- End of button div -->

</div>
<!-- End of container -->
